body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5; /* 24/16 */
    font-weight: 400;
    letter-spacing: 0.02em;
}
.link {
    text-decoration: none;
}
.list {
    list-style-type: none;
}
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.header-logo span {
    color: #4D5AE5;
}
.header-list a {
    font-weight: 500;
    color: #2E2F42;
}
.address-list a {
    color: #434455;
}
.hero {
    background-color: #2E2F42;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #FFFFFF;
}
.hero-btn {
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    background-color: #4D5AE5;
    font-weight: 500;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
.projects-title, .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}
.team {
    background-color: #F4F4FD;
}
.team-list h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    text-transform: capitalize;
}
.footer {
    width: 1440px;
    height: 312px;
    left: 0px;
    top: 2280px;
    background-color: #2E2F42;
}
.footer .header-logo {
    color: #F4F4FD;
}
.footer p {
    color: #F4F4FD;
}